*.iml
.gradle
.idea
!.idea/inspectionProfiles/Project_Default.xml
!.idea/codeStyles/
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg